#import url('https://fonts.googleapis.com/css?family=Montserrat:500');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #dddddd;
}

li, a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #9d9a92;
  text-decoration: none;
}

/*
header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: auto;
  padding: 30px 10%;
  background-color: #dddddd;
  background-size: 100%;
  position: fixed;
}
*/

body {
  margin: 0;
  padding: 0;
}

.sitecontent {
  padding-top: 125px;
  margin: 0 10%;
}

header {
  display: flex;
  position: fixed;
  overflow: hidden;
  top: 0px;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 0;
  background-color: #dddddd;
}

.logocontainer {
  margin-right: auto;
  padding: 0 10%;
}

.logo {
  margin-right: auto;
}

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  color: #0088a9;
}

.nav_links li.selected a {
  color: #0088a9;
}

.nav_links li.selected a:hover {
  color: #9d9a92;
}