#import url('https://fonts.googleapis.com/css?family=Montserrat:500');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
  overflow-y: scroll;
}

body {
  margin: 0;
  padding: 0;
}

li, a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #9d9a92;
  text-decoration: none;
}

.sitecontent {
  padding-top: 125px;
  margin: 0 10%;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #9d9a92;
  text-decoration: none;
}

.sitecontent a {
  color: #0088a9;
}

.sitecontent a:hover {
  text-decoration: underline;
}

header {
  display: flex;
  position: fixed;
  overflow: hidden;
  top: 0px;
  width: 100%;
  height: 125px;
  justify-content: flex-end;
  align-items: center;
  background-color: #dddddd;
}

.logocontainer {
  margin-right: auto;
  padding: 0 10%;
}

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li a {
  color: 9d9a92;
  transition: all 0.3s ease 0s;
}

.nav_links a:visited {
  color: 9d9a92;
}

.nav_links li a:hover {
  color: #0088a9;
}

.nav_links li.selected a {
  color: #0088a9;
}

.nav_links li.selected a:hover {
  color: #9d9a92;
}

@media (max-width: 858px) {
  .nav_links li {
    display: block;
  }
  
  header {
    position: relative;
  }
  
  .sitecontent {
    padding-top: 0;
  }
}

@media (max-width : 400px) {
  .logocontainer {
    padding: 0;
  }
  
  .sitecontent {
    padding-top: 0;
    margin: 0 2%;
  }
}