@import url('https://fonts.googleapis.com/css?family=Poppins:400');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

.site {
  position: relative;
  overflow-x: hidden;
}

li, a {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #9d9a92;
  text-decoration: none;
}

footer {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #9d9a92;
  min-height: 5vh;
  width: 100%;
  background-color: #dddddd;
  display: flex;
  justify-content: left;
  padding: 0px 5%;
  align-items: center;
  text-decoration: none;
}

.sitecontent {
  padding: 15px 0px;
  margin: 0px 10%;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #9d9a92;
  text-decoration: none;
}

.sitecontent p {
  padding: 15px 0px;
}

.sitecontent a {
  color: #0088a9;
}

.sitecontent a:hover {
  text-decoration: underline;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 14vh;
  width: 100%;
  background-color: #dddddd;
  font-family: 'Poppins', sans-serif;
}

.logo {
  color: #9d9a92;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 50%
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: #9d9a92;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: 14px;
}

.nav-links a:hover {
  color: #0088a9;
  transition: all 0.3s ease;
}

.nav-links li.selected a {
  color: #0088a9;
}

.nav-links li.selected a:hover {
  color: #9d9a92;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #9d9a92;
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width:858px) {
  .sitecontent {
    padding: 10px 0px;
    margin: 0px 5%;
  }
  
  .nav-links {
    position: absolute;
    right: 0px;
    height: 86vh;
    top: 14vh;
    opacity: 0;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: all 0.5s ease-in;
  }
  
  .nav-links li {
    opacity: 0;
  }
  
  .burger {
    display: block;
  }
}

.nav-active {
  opacity: 1;
  background-color: #dddddd;
  transform: translateX(0%);
}

@keyframes navlinkfade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}